.font-comforter {
  @apply text-6xl;
  font-family: "Comforter", cursive !important;
}

.font-vibur {
  @apply text-4xl;
  font-family: "Vibur", cursive !important;
}
.font-trickster {
  @apply text-4xl;
  font-family: "Trickster", cursive !important;
}



